/* Add some basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #AC1754;
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .student-app {
    background-color: #E53888;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
  }

  .todo-app {
    background-color:#E53888;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: #FBF3B9;
    color: black;
    cursor: pointer;
  }
  
  h1,h3 {
    color: #F7A8C4;
  }

  button:hover {
    background-color: #B7B1F2 ;
  }

  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }
  
  li span {
    cursor: pointer;
  }
  
  li button {
    background-color: blueviolet;
  }
  


  